@import url(./components/bookmark/bookmark.css);
@import url(./components/button/button.css);
@import url(./components/footer/footer.css);
@import url(./components/header/header.css);
@import url(./components/headline/headline.css);
@import url(./components/main/main.css);
@import url(./components/post/post.css);
@import url(./components/summary/summary.css);
@import url(./components/navigation/nav.css);
@import url(./base.css);

.paragraph3 {
  font-family: var(--font-family);
  color: #f62e8e;
  font-size: 14px;
}
